@import './variables.css';

@font-face {
  font-family: 'SF UI Text';
  font-weight: 400;
  font-display: auto;
  src:
    local('SF UI Text'),
    url('/fonts/SF UI Text/SFUIText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SF UI Text';
  font-weight: 500;
  font-display: auto;
  src:
    local('SF UI Text'),
    url('/fonts/SF UI Text/SFUIText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-display: auto;
  src:
    local('SF Pro Display'),
    url('/fonts/SF Pro Display/SF-Pro-Display-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-display: auto;
  src:
    local('SF Pro Display'),
    url('/fonts/SF Pro Display/SF-Pro-Display-Semibold.otf') format('opentype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  outline: none;
  background: none;
  &:enabled {
    cursor: pointer;
  }
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: 'SF UI Text';
  --font-display: 'SF Pro Display';
  --font-size: 16px;
  overflow-x: hidden;
}
